{% extends 'layout.html' %}
{% load static %}
{% block css_files %}
<link rel="stylesheet" href="{% static 'challenges/includes/header.css' %}">
<link rel="stylesheet" href="{% static 'challenges/index.css' %}">
{% endblock css_files %}

{% block page_title %}
    Monthly Challenges
{% endblock page_title %}

{% block content %}
  {% include "./includes/header.html" %}
    <ul>
      {% for month in data %}
        <li>
          <a href="{% url 'month-challenge' month %}">{{ month | title }}
          </li>
        {% endfor %}
      </ul>
{% endblock content %}